[slot='drawer'] {
  background-image: linear-gradient(0deg, var(--lumo-shade-5pct), var(--lumo-shade-5pct));
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: var(--lumo-primary-text-color);
}

[slot='drawer'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color-10pct);
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}
